@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300');

html {
    font-family: 'Fjalla One', sans-serif;
    background: linear-gradient(#baf4ea, #ffcc69);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

body {
    margin: 35px;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

a, a:hover, a:visited {
    color: black;
}

ul {
    list-style: none;
    font-family: "Open Sans Condensed", sans-serif;
}

li {
    margin-bottom: 10px;
}

img {
    vertical-align: middle;
}

#searchbox {
    width: 50%;
    height: 40px;
    font-size: 24px;
}

.submit {
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    height: 46px;
    vertical-align: top;
    background-color: lightgray;
    border: none;
    margin: 0;
    cursor: hand;
}

.big {
    font-size: 24px;
    font-weight: bold;
}

#container {
    text-align: center;
    width: 75%;
    height: 200px;
    margin: auto;
    position: absolute;
    top: -10%;
    bottom: 0;
    left: 0;
    right: 0;
}

#searchbar {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

#response {
    padding-top: 35px;
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}