@import url('https://fonts.googleapis.com/css?family=Assistant|Open+Sans+Condensed:300|Raleway');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    font-family: 'Assistant', sans-serif;
    background: linear-gradient(#ffcc69, #baf4ea);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

body {
    margin: 35px;
}

h2 {
    font-family: 'Assistant', sans-serif;
    font-size: 50px;
    font-weight: 200;
    margin-bottom: 10px;
    font-weight: bold;
}

a, a:hover, a:visited {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
    font-family: "Open Sans Condensed", sans-serif;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

img {
    vertical-align: middle;
}

#searchbox {
    width: 50%;
    height: 40px;
    font-size: 24px;
}

.priceBox {
    width: 60px;
}

.submit {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    height: 38px;
    vertical-align: top;
    background-color: whitesmoke;
    border: none;
    margin: 0;
    cursor: hand;
}

.pagination {
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    background-color: whitesmoke;
    border: none;
    margin: 0;
    padding: 10px;
}

/*Spans*/
.center {
    text-align: center;
}

.big {
    font-size: 24px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
}

.bigger {
    font-size: 32px;
    font-family: "Assistant", sans-serif;
    font-weight: bold;
}

#container {
    text-align: center;
    width: 75%;
    height: 200px;
    margin: auto;
    position: absolute;
    top: -10%;
    bottom: 0;
    left: 0;
    right: 0;
}

#searchbar {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

#response {
    padding-top: 15px;
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}


#next {
    float: right;
}

#prev {
    float: left;
}

.down {
    background-color: pink;
}

#login {
    position: absolute;
    right: 35px;
    top: 25px;
}

#profile {
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    background: transparent;
    border: none;
}

#profile:hover {
    text-decoration: underline;
}

#result {
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    background: transparent;
    border: none;
}

#result:hover {
    text-decoration: underline;
}