<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YAS</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>

<div id="login">
  {{#show-login}}
  <a href="/login">Login</a>
  {{/show-login}}
  {{#username}}
  <form action="/profile">
    <button id="profile">Hello, {{.}}</button> | <a href="/logout">Logout</a>
  </form>
  {{/username}}
</div>


<div id="searchbar">
  <h2><a href="/" style="text-decoration:none">How much is my stuff worth?</a></h2>
  <form id="productSearch">
    <input id="searchbox" type="text" name="keyword" onsubmit="productSearch()" value="{{searchTerm}}">
    <button class="submit" onclick="productSearch()">→</button>
    <button class="submit" onclick="productSearchAsc()">$$↑</button>
    <button class="submit desc" onclick="productSearchDesc()">$$↓</button>
    $ <input class="priceBox" type="text" name="minPrice" onsubmit="productSearch()" value="{{minPrice}}">
    to $ <input class="priceBox" type="text" name="maxPrice" onsubmit="productSearch()" value="{{maxPrice}}">
    <p>
      <button class="pagination" name="prev" value="{{pageNo}}" onclick="productPrevPage()">Previous</button>
      <button class="pagination" name="next" value="{{pageNo}}" onclick="productNextPage()">Next</button>
    </p>
      <input type="hidden" id="sort" name="sort" value="{{sort}}">
  </form>
</div>
<div id="response">
  You are currently on page {{pageNo}}.
  <br>There are {{message.totalResults}} results.
  <ul>
    {{#products}}
    <li>

        <form class="productPage" onsubmit="idSearch()">
            <img src="{{images.image.1}}" /> &nbsp <button onclick="idSearch()" id="result"><span class="big">{{title}}</span> &nbsp {{price}}</button>
            <input id="idbox" type="hidden" name="id" onsubmit="idSearch()" value="{{id}}">
          <!--<button class="submit" onclick="idSearch()">→</button>-->
        </form>
    </li>
    {{/products}}
  </ul>
</div>


</body>

<script src="/js/scripts.js"></script>
</html>