<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YAS</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <!-- jQuery Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>window._epn = {campaign:5338091507};</script>
    <script src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>
</head>
<body>
<div id="login">
    {{#show-login}}
    <a href="/login">Login</a>
    {{/show-login}}
    {{#username}}
    <button id="profile">Hello, {{.}}</button> | <a href="/logout">Logout</a>
    {{/username}}
</div>

<div id="searchbar">
    <h2><a href="/" style="text-decoration:none">How much is my stuff worth?</a></h2>
    <form id="productSearch">
        <input id="searchbox" type="text" name="keyword" onsubmit="productSearch()">
        <button class="submit" onclick="productSearch()">→</button>
        <button class="submit" onclick="productSearchAsc()">$$↑</button>
        <button class="submit desc" onclick="productSearchDesc()">$$↓</button>
        $ <input class="priceBox" type="text" name="minPrice" onsubmit="productSearch()">
        to $ <input class="priceBox" type="text" name="maxPrice" onsubmit="productSearch()">
        <input type="hidden" id="sort" name="sort">
    </form>
</div>

<div>
    {{#products}}
    <div class="col-2">
        <div id="imagebox">
            <img src="{{images.image.1}}" />
        </div>
    </div>
    <div id="product" class="col-2">
        <span class="big">{{title}}</span> &nbsp<form id="addItem"><input type="hidden" name="id" value="{{id}}"><input type="hidden" name="addItem" value="{{id}}"><button onsubmit="addItem()">watchlist</button></form>  <!-- &nbsp {{price}} &nbsp {{upc}} &nbsp {{id}} -->

        <!-- Based off the tutorial from https://www.w3schools.com/howto/howto_js_tabs.asp -->
        <div class="tab">
            <button class="tablinks" onclick="productTab(event, 'new')">new</button>
            <button class="tablinks" onclick="productTab(event, 'used')">used</button>
            <button class="tablinks" onclick="productTab(event, 'refurbished')">refurbished</button>
        </div>

        <div id="new" class="tabcontent">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>

        <div id="used" class="tabcontent">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>

        <div id="refurbished" class="tabcontent">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>

    </div>
    {{/products}}
</div>
</body>

<script src="/js/scripts.js"></script>
</html>