<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YAS</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/item.css">

    <!-- jQuery Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- ebay affiliate code -->
    <script>window._epn = {campaign:5338091507};</script>
    <script src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>
</head>
<body>
<div id="login">
    {{#show-login}}
    <a href="/login">Login</a>
    {{/show-login}}
    {{#username}}
    <form action="/profile">
        <button id="profile">Hello, {{.}}</button> | <a href="/logout">Logout</a>
    </form>
    {{/username}}
</div>


<div id="searchbar">
    <h2><a href="/" style="text-decoration:none">How much is my stuff worth?</a></h2>
    <form id="productSearch">
        <input id="searchbox" type="text" name="keyword" onsubmit="productSearchInitial()">
        <button class="submit" onclick="productSearchInitial()">→</button>
    </form>
</div>

<div class = "container">
    {{message}}
    {{#products}}
    <div class="col-2">
        <div id="imagebox">
            <div class="arrow" id="right"><a href="#" onclick="showImgs(1)">→</a></div>
            <div class="arrow" id="left"><a href="#" onclick="showImgs(-1)">←</a></div>
            <img class="img-slides" src="{{amazonIMG}}" />
            <img class="img-slides" src="{{images.image.2}}" />
        </div>
    </div>
    <div id="product" class="col-2">
        <span class="bigger">{{manufacturer}}</span>
        <br>
        <span class="big">{{title}}</span>
        <p>
            <form id="addItem">
                <input type="hidden" name="id" value="{{id}}" id="item">
                <button type="submit" class="wishlist-button">
                    <img src="/images/wishlist.png" height="35" width="35" />add to wishlist
                </button>
                <div id="added">
                    <p>added!</p>
                </div>
            </form>
            <br>
            {{description}}
            <br>
        </p>

        <!-- Based off the tutorial from https://www.w3schools.com/howto/howto_js_tabs.asp -->
        <div class="tab">
            <button class="tablinks active" onclick="productTab(event, 'new')">new</button>
            <button class="tablinks" onclick="productTab(event, 'used')">used</button>
            <button class="tablinks" onclick="productTab(event, 'refurbished')">refurbished</button>
        </div>

        <div id="new" class="tabcontent">
            <ul>
                <li><a href="{{url}}" target="_blank">{{merchantName}} [↗]</a> &nbsp {{price}}</li>
                <li><a href="{{amazonURL}}" target="_blank">Amazon [↗]</a> &nbsp {{amazonNewPrice}}</li>
                <li><a href="{{ebayNewURL}}" target="_blank">eBay [↗]</a> &nbsp {{ebayNewPrice}}</li>
            </ul>
        </div>

        <div id="used" class="tabcontent">
            <ul>
                <li><a href="{{amazonURL}}" target="_blank">Amazon [↗]</a> &nbsp {{amazonUsedPrice}}</li>
                <li><a href="{{ebayUsedURL}}" target="_blank">eBay [↗]</a> &nbsp {{ebayUsedPrice}}</li>
            </ul>
        </div>

        <div id="refurbished" class="tabcontent">
            <ul>
                <li><a href="{{amazonURL}}" target="_blank">Amazon [↗]</a> &nbsp {{amazonRefurbishedPrice}}</li>
                <li><a href="{{ebayRefurbishedURL}}" target="_blank">eBay [↗]</a> &nbsp {{ebayRefurbishedPrice}}</li>
            </ul>
        </div>

    </div>
    {{/products}}
</div>
</body>

<script src="/js/scripts.js"></script>
</html>