<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YAS | Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>

<div id="login">
    <!-- {{#show-login}}
    <a href="/login">Login</a>
    {{/show-login}}
    {{#username}}
    <form action="/profile"> -->
    <a href="/">Home</a> | <a href="/logout">Logout</a>
    <!-- </form>
    {{/username}} -->
</div>

<div id="profile-content">
    <h2>{{first_name}} {{last_name}}</h2>
    {{email}}
<p>
    <ul class="wishlist">
        {{#wishlist}}
        <li class="product-img">
            <form class="productPage">
                <div>
                    <img src="{{images.image.2}}" /> <!-- <button onclick="idSearch()" id="result"><span class="big">{{title}}</span></button> &nbsp {{price}} -->
                    <input id="idbox" type="hidden" name="id" onsubmit="idSearch()" value="{{id}}">
                    <!-- <button class="submit" onclick="deleteItem()">DELETE</button> -->
                    <div class="overlay">
                        <button onclick="idSearch()" class="clear"><span class="hspace">[↗]</span></button>
                        <button class="clear" onclick="deleteItem()"><span class="hspace">[✕]</span></button>
                    </div>
                </div>
            </form>
        </li>
        {{/wishlist}}
    </ul>
</di</p>

<br>
</div>

</body>
<script src="/js/scripts.js"></script>
</html>