<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>YAS | Register</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="login-container">
    <div>
        <form autocomplete="off" action="#" action="/registration"
              object="user" method="post" class="form-horizontal"
              role="form">
            <input type="text" name="name" placeholder="First Name" required/> <br>
            <input type="text" name="lastName" placeholder="Last Name" required/> <br>
            <input type="text" name="email" placeholder="Email" required pattern="[^@.]+@[^@.]+\.[^@.]+" title="Valid email address."/> <br>
            <input type="password" name="password" placeholder="Password" required pattern=".{4,}" title="Password longer than four characters."/> <br>
            <button type="submit" class="account-submit">Create an Account</button>
        </form>
        <p><span class="smaller">
        {{#error.user}}
            {{.}}
        {{/error.user}}
        {{^error.user}}
            {{#successMessage}}
            {{.}}
            {{/successMessage}}
            {{^successMessage}}
            Already have an account?
            {{/successMessage}}
            Login <a href="/login"><u>here.</u></a>
        {{/error.user}}
    </span>
        </p>
    </div>
</div>

</body>
</html>